.patient-vc-container {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}
.patient-vc-patient-vc {
  width: 100%;
  height: 550px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.patient-vc-frame150 {
  top: 10px;
  left: 352px;
  width: 832px;
  display: flex;


  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
.patient-vc-frame147 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.patient-vc-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 43px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patient-vc-frame148 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.patient-vc-rectangle133 {
  width: 812px;
  height: 569px;
  position: relative;
  border-color: transparent;
}
.patient-vc-text2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 43px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
